PORT=5000
FRONTEND_URL=http://localhost:3000,http://localhost:5173,https://subhanshu-coder.github.io,https://peak-fit-nu.vercel.app
SUPABASE_URL=https://bbgawjqixbzhezlavwwo.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_dBDf8bSaevrpWdiToYdBlQ_OQa3BT1X
